

@font-face {
  font-family: "Inter";
  src: url("../Font/inter-regular-webfont.woff") format("woff");
  font-display: swap;
}

body {
  min-height: 100vh;
  background-color: #D5E1EF;
  position: relative;
  font-family: cursive, 'Open Sans';
  text-align: center;
}
.card {
  width: 100%;
  max-width: 240px;
  height:375px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow:  0 10px 20px 0 rgba(0, 0, 0, .2);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: .5rem;
  padding-bottom: 1.5rem;

 /* position: fixed;
  margin: auto;
  inset: 0; Center a div but it fixes at one place */
}

img {
  width: 100%;
  border-radius: 12px;
}

h3 {
  font-weight: 700;
  font-size: 15px;
  color: #22354F;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: #68778d;
}